header.Header#Header
  section.Header-container
    div.Logo
      a(href=link.inicio)
        img(src="img/logo-web.jpg", alt="Logo")
    button(type="button" class="btn-panel hamburger hamburger--elastic")
      span.hamburger-box
        span.hamburger-inner
    section.Panel
      nav.Menu
        ul
          li
            a(href=link.inicio) Inicio
          li
            a(href=link.hacemos).Menu-link Qué hacemos
          li
            a(href=link.somos).Menu-link Quienes somos
          li
            a(href=link.contactanos).Menu-link Síguenos
